<div class="container">
    <h2>İLETİŞİM</h2>
    <div class="container">
        <form method="post">

            <label for="fname">Ad Soyad</label>
            <input type="text" class="form-control" id="fname" name="AdSoyad" placeholder="Adınız ve soyadınız..">

            <label for="lname">Mail</label>
            <input type="text" class="form-control" id="lname" name="Mail" placeholder="Mail adresiniz..">

            <label for="lname">Konu</label>
            <input type="text" class="form-control" id="" name="Konu" placeholder="Konu giriniz..">

            <label for="subject">Mesaj</label>
            <textarea id="subject" name="Mesaj" placeholder="Mesajınız.." style="height:200px"></textarea>

            <input type="submit" class="btn-primary" value="Gönder">

        </form>
    </div>
</div>
<link href="~/cv-template/css/contact.css" rel="stylesheet" />